@model TaskManager.Models.TaskUnit
@using TaskManager.Controllers;
@using System.Diagnostics;


@{ ViewData["Title"] = "details"; }

<h1>details</h1>
<div class="d-flex justify-content-around">
    <div class="card w-25 centrvolby">


        <dl class="p2  ">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.tag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tag)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.TimeCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeCreated)
            </dd>
        </dl>

        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-fill" fill="black"></i></a> |
            <a asp-action="Index">back to list</a>
        </div>
    </div>
</div>


